@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html { scroll-behavior: smooth; }
@layer base {
  body { font-family: 'Plus Jakarta Sans', sans-serif; background-color: #faf8f3; }
}

/* Hide scrollbar (used in gallery slider) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}